/* Generic body styles
--------------------------------------------*/
body {
  font-family: Arial, sans-serif;
  margin: 0 20px;
  color: #f6f6f6;
  background: #333;
}
h1 {
  margin: 0 -20px;
  background: #25b;
  font-size: 30px;
  font-weight: bold;
  color: #f6f6f6;
  line-height: 70px;
  text-align: center;
}
h2 {
  color: #3ad;
  font-size: 24px;
  font-weight: bold;
}
h3 {
  margin: 0;
  font-size: 16px;
  color: #3ad;
}
h4 {
  margin: 0;
  font-size: 14px;
  color: #f6f6f6;
  text-align: center;
}
h5,
label {
  margin: 8px 0;
  font-size: 13px;
  font-weight: bold;
}
select {
  width: 100%;
  margin: 0;
}
h5, label, select, strong {
  color: #25b;
}
*:focus {
  outline: none;
}
:link {
  color: #3af;
  transition: color 200ms ease-in-out;
}
:link:hover {
  color: #6cf;
}
.maxheight {
  height: 100%;
}
.smoothed {
  transition: 150ms linear;
  transition-property: background-color, opacity;
}

/* Lightbox live view (outputs and layers)
--------------------------------------------*/
#preview {
  overflow: auto;
  margin: 0 -10px;
}
.output {
  float: left;
  width: 158px;
  height: 190px;
  margin: 0 10px 20px;
  padding: 5px 10px 0;
  border: 1px solid #555;
  background: #444;
  font-size: 10px;
  overflow: auto;
  transition: background-color 150ms ease-in-out;
}
.output:hover {
  background: #4f4f4f;
}
.output .mixedContainer {
  float: right;
  margin-top: 5px;
  font-size: 10px;
  text-align: center;
}
.output .mixed {
  width: 45px;
  height: 145px;
  border: 1px solid #222;
}
.output .layers {
  width: 100px;
  margin: 0;
  padding: 0;
  list-style: none;
}
.output .layer {
  margin-top: 5px;
  overflow: auto;
}
.output .layer .colorContainer {
  height: 35px;
  border: 1px solid #222;
  background: url(checkerboard.png);
}
.output .layer .opacity {
  float: right;
}

/* Color picker
--------------------------------------------*/
.picker-wrapper,
.slide-wrapper {
  position: relative;
  float: left;
}
.picker-indicator,
.slide-indicator {
  position: absolute;
  left: 0;
  top: 0;
  pointer-events: none;
}
.picker,
.slide {
  cursor: crosshair;
  float: left;
}
#picker {
  float: left;
}
#picker .picker {
  width: 240px;
  height: 240px;
}
#picker .slide {
  width: 40px;
  height: 240px;
}
#picker .picker-wrapper,
#picker .slide-wrapper {
  border: 1px solid #555;
}
#picker .slide-wrapper {
  margin-left: 16px;
}
#picker .picker-indicator {
  width: 6px;
  height: 6px;
  border-radius: 4px;
  background-color: #333;
  opacity: .6;
}
#picker .slide-indicator {
  width: 100%;
  height: 4px;
  background-color: #333;
  opacity: .6;
}

/* New transition dialog window
--------------------------------------------*/
#picker_popup {
  position: relative;
  width: 400px;
  border-radius: 6px;
  box-shadow: 0 0 12px 2px rgba(0, 0, 0, .6);
}
.modal_close {
  position: absolute;
  top: 0;
  right: 0;
  width: 29px;
  height: 29px;
  border-left: 1px solid #14a;
  background: url(close.png) 50% 50% no-repeat;
  cursor: pointer;
}
.modal_close:hover {
  background: url(close-active.png) 50% 50% no-repeat;
}
.modal_header {
  padding: 7px 0 6px 0;
  border-radius: 6px 6px 0 0;
  background: #25b;
}
.modal_content {
  padding: 15px 20px;
  border: solid #25b;
  border-width: 0 2px 2px;
  border-radius: 0 0 6px 6px;
  background: #f6f6f6;
}
#picker_popup .preview {
  float: right;
}
#picker_popup .preview .colorContainer {
  width: 40px;
  height: 80px;
  border: 1px solid #555;
  background: url(checkerboard.png);
}
#picker_popup .preview .colorContainer:first-child {
  margin-bottom: 78px;
}
#picker_popup .sliders {
  float: left;
}
#picker_popup .slider {
  width: 240px;
  margin: 12px 0;
  font-size: 13px;
}
#picker_popup .options {
  float: right;
  width: 102px;
}
#picker_popup .bottomrow {
  clear: both;
  line-height: 18px;
}
#picker_popup .bottomrow input[type=checkbox] {
  width: 13px;
  height: 13px;
  margin: 5px 5px 2px 0;
  vertical-align: bottom;
}
#picker_popup .submit {
  position: absolute;
  right: 20px;
  bottom: 15px;
  width: 102px;
  margin: 0;
  padding: 6px 0;
  border: 1px outset #36c;
  background: #25b;
  color: #f6f6f6;
  font-size: 14px;
  font-weight: bold;
}
#picker_popup .submit:active {
  bottom: 14px;
  border-style: inset;
}
