/* Generic body styles
--------------------------------------------*/
body {
  font-family: Arial, sans-serif;
  margin: 0 20px;
  color: #333;
}
h1 {
  margin: 0 -20px;
  padding: 20px;
  background: #25b;
  font-size: 30px;
  color: #f3f3f3;
  text-align: center;
}
h3,
label {
  margin: 8px 0;
  font-size: 13px;
  font-weight: bold;
}
select {
  width: 100%;
  margin: 0;
}
h2, h3, label, select, strong {
  color: #25b;
}
/* Lightbox live view (outputs and layers)
--------------------------------------------*/
#preview ul,
#preview ol {
  margin: 0;
  padding: 0;
}
#preview {
  overflow: auto;
  margin: 0 -10px;
}
.output {
  position: relative;
  float: left;
  width: 195px;
  height: 190px;
  margin: 0 10px 20px;
  padding: 5px;
  border: 2px solid #555;
  border-radius: 10px;
  overflow: auto;
}
.output strong {
  margin-left: 20px;
}
.output .mixed {
  position: absolute;
  right: 10px;
  bottom: 10px;
  width: 45px;
  height: 159px;
  border: 1px solid #000;
  transition: background-color 150ms linear;
  -webkit-transition: background-color 150ms linear;
}
.output .layers {
  position: absolute;
  bottom: 10px;
  left: 5px;
  width: 133px;
  list-style: none;
}
.output .layer {
  margin-top: 10px;
  overflow: auto;
}
.output .layer .colorContainer {
  float: right;
  width: 45px;
  height: 45px;
  border: 1px solid #000;
  background: url(checkerboard.png);
}
.output .layer .color {
  height: 100%;
  transition: background-color 150ms linear;
  -webkit-transition: background-color 150ms linear;
}
.output .layer ul {
  margin-top: 4px;
  list-style: none;
  font-size: 10px;
}

/* Color picker
--------------------------------------------*/
.picker-wrapper,
.slide-wrapper {
  position: relative;
  float: left;
}
.picker-indicator,
.slide-indicator {
  position: absolute;
  left: 0;
  top: 0;
  pointer-events: none;
}
.picker,
.slide {
  cursor: crosshair;
  float: left;
}
#picker {
  float: left;
}
#picker .picker {
  width: 240px;
  height: 240px;
}
#picker .slide {
  width: 40px;
  height: 240px;
}
#picker .picker-wrapper,
#picker .slide-wrapper {
  border: 1px solid #555;
}
#picker .slide-wrapper {
  margin-left: 16px;
}
#picker .picker-indicator {
  width: 6px;
  height: 6px;
  border-radius: 4px;
  background-color: #333;
  opacity: .6;
}
#picker .slide-indicator {
  width: 100%;
  height: 4px;
  background-color: #333;
  opacity: .6;
}

/* New transition dialog window
--------------------------------------------*/
#picker_popup {
  width: 360px;
  min-height: 300px;
  padding: 20px 20px 15px;
  border: 2px solid #555;
  background: #f7f7f7;
  box-shadow: 0 0 12px 2px rgba(0, 0, 0, .6);
}
#picker_popup .preview {
  float: right;
}
#picker_popup .preview .colorContainer {
  width: 40px;
  height: 80px;
  border: 1px solid #555;
  background: url(checkerboard.png);
}
#picker_popup .preview .colorContainer:first-child {
  margin-bottom: 78px;
}
#picker_popup .preview .color {
  height: 100%;
}
#picker_popup .sliders {
  float: left;
}
#picker_popup .slider {
  width: 240px;
  margin-bottom: 16px;
  font-size: 13px;
}
#picker_popup .options {
  float: right;
  min-width: 102px;
}
#picker_popup .bottomrow {
  clear: both;
  line-height: 18px;
}
#picker_popup .bottomrow input[type=checkbox] {
  width: 13px;
  height: 13px;
  margin: 5px 5px 2px 0;
  vertical-align: bottom;
}
#picker_popup .submit {
  position: absolute;
  right: 20px;
  bottom: 15px;
  margin: 0;
}
