/* -------------------------------------------- */
/* Generic body styles
/* -------------------------------------------- */
body {
  font-family: Arial, sans-serif;
  margin: 0 1em;
}
header {
  height: 70px;
  margin: 0 -1em 2em;
  border-bottom: 1px solid rgba(150, 150, 150, 0.3);
  background-color: rgba(150, 150, 150, 0.2);
}
header button {
  position: absolute;
  right: 20px;
  top: 20px;
}
header button:active {
  top: 21px;
}
h1 {
  margin: 0;
  font-size: 2.5em;
  color: #3ad;
  line-height: 70px;
  text-align: center;
}
h2 {
  color: #3ad;
  font-size: 24px;
}
h3 {
  margin: 0;
  font-size: 16px;
  color: #3ad;
}
h4 {
  margin: 0;
  font-size: 14px;
  color: #f6f6f6;
  text-align: center;
}
h5,
label {
  margin: 8px 0;
  font-size: 13px;
  font-weight: bold;
}
select {
  width: 100%;
  margin: 0;
}
h5, label, select, strong {
  color: #25b;
}
button {
  margin: 0;
  padding: 6px 30px;
  border: 1px solid #36c;
  background: #25b;
  color: #f6f6f6;
  font-size: 14px;
  font-weight: bold;
}
*:focus {
  outline: none;
}
:link,
:visited {
  color: #3af;
  transition: color 200ms ease-in-out;
}
:link:hover,
:visited:hover {
  color: #6cf;
}
.maxheight {
  height: 100%;
}
.smoothed {
  transition: 150ms linear;
  transition-property: border, background, opacity;
}

/* -------------------------------------------- */
/* Lightbox live view (outputs and layers)
/* -------------------------------------------- */
#preview {
  overflow: auto;
  margin: 0 -10px;
}
.output {
  float: left;
  width: 158px;
  height: 190px;
  margin: 0 10px 20px;
  padding: 5px 10px 0;
  border: 1px solid rgba(150, 150, 150, 0.3);
  background-color: rgba(150, 150, 150, 0.2);
  font-size: 10px;
  overflow: auto;
  transition: background-color 150ms ease-in-out;
}
.output:hover {
  background-color: rgba(150, 150, 150, 0.3);
}
.output .mixed-container {
  float: right;
  margin-top: 5px;
  font-size: 10px;
  text-align: center;
}
.output .mixed {
  width: 45px;
  height: 145px;
  border: 1px solid;
}
.output .layers {
  width: 110px;
  margin: 0 0 0 -5px;
  padding: 0;
  list-style: none;
}
.output .layer {
  padding: 5px 5px 0;
  overflow: auto;
  cursor: pointer;
}
.output .layer .color-container {
  height: 35px;
  border: 1px solid;
  background: url(checkerboard.png);
  transition: 150ms ease-in-out;
  transition-property: box-shadow, border-color;
}
.output .layer .opacity {
  float: right;
}

/* -------------------------------------------- */
/* New transition dialog window
/* -------------------------------------------- */

/* Basic modal window styles */
.modal {
  display: none;
}
.modal-close {
  position: absolute;
  top: 0;
  right: 0;
  width: 29px;
  height: 29px;
  border-left: 1px solid #14a;
  background: url(close.png) 50% 50% no-repeat;
  cursor: pointer;
}
.modal-close:hover {
  background: url(close-active.png) 50% 50% no-repeat;
}
.modal-header {
  padding: 7px 0 6px 0;
  border-radius: 6px 6px 0 0;
  background: #25b;
}
.modal-content {
  padding: 15px 20px;
  border: solid #25b;
  border-width: 0 2px 2px;
  border-radius: 0 0 6px 6px;
  background: #f6f6f6;
}

/* Styles specific to the transition dialog */
.transition-popup {
  position: relative;
  width: 400px;
  border-radius: 6px;
  box-shadow: 0 0 12px 2px rgba(0, 0, 0, .6);
}
.transition-popup .preview {
  float: right;
}
.transition-popup .preview .color-container {
  width: 40px;
  height: 80px;
  border: 1px solid #555;
  background: url(checkerboard.png);
}
.transition-popup .preview .color-container:first-child {
  margin-bottom: 78px;
}
.transition-popup .sliders {
  float: left;
}
.transition-popup .slider {
  width: 240px;
  margin: 12px 0;
  font-size: 13px;
}
.transition-popup .slider-value {
  color: #08d;
}
.transition-popup .options {
  float: right;
  width: 102px;
}
.transition-popup .bottomrow {
  clear: both;
  line-height: 18px;
}
.transition-popup .bottomrow input[type=checkbox] {
  width: 13px;
  height: 13px;
  margin: 5px 5px 2px 0;
  vertical-align: bottom;
}
.transition-popup .submit {
  position: absolute;
  right: 20px;
  bottom: 15px;
  width: 102px;
}
.transition-popup .submit:active {
  bottom: 14px;
}

/* Color picker styles */
.color-picker {
  float: left;
}
.color-picker .picker,
.color-picker .slide {
  float: left;
  width: 240px;
  height: 240px;
  cursor: crosshair;
}
.color-picker .slide {
  width: 40px;
}
.color-picker .picker-wrapper,
.color-picker .slide-wrapper {
  position: relative;
  float: left;
  border: 1px solid #555;
}
.color-picker .slide-wrapper {
  margin-left: 16px;
}
.color-picker .picker-indicator,
.color-picker .slide-indicator {
  position: absolute;
  left: 0;
  top: 0;
  background-color: #333;
  opacity: .6;
  pointer-events: none;
}
.color-picker .picker-indicator {
  width: 6px;
  height: 6px;
  border-radius: 4px;
}
.color-picker .slide-indicator {
  width: 100%;
  height: 4px;
}

/* -------------------------------------------- */
/* Theme changes, light vs dark
/* -------------------------------------------- */
body {
  transition: 200ms ease-in-out;
  transition-property: background-color, color;
}

/* Dark theme */
body.dark {
  background: #333;
  color: #f6f6f6;
}
body.dark .output .mixed,
body.dark .output .layer .color-container {
  border-color: #666;
}
body.dark .output .layer:hover .color-container {
  border-color: #ddd;
  box-shadow: 0 0 4px 1px #ddd;
}

/* Light theme */
body.light {
  background: #f6f6f6;
  color: #333;
}
body.light .output .mixed,
body.light .output .layer .color-container {
  border-color: #bbb;
}
body.light .output .layer:hover .color-container {
  border-color: #777;
  box-shadow: 0 0 4px 1px #777;
}
